@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 40px;
}

nav {
    background-color: #ff8800;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

nav a {
    font-size: 18px; 
    font-weight: 600;
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

nav a:hover {
    opacity: 1;
}

main {
    text-align: justify;
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
    padding-left: 20px;
}

h2, h3 {
    color: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

footer {
    color: white;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

@media screen and (max-width: 1280px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    nav li {
        margin-right: 20px;
    }
    nav a {
        font-size: 14px;
    }
}

@media screen and (max-width: 468px){
    nav li {
        margin-right: 10px;
    }
    .profile img {
        width: 150px;
    }
}

@media screen and (max-width: 410px){
    nav li {
        margin-right: 5px;
    }
    nav a {
        font-size: 10px;
    }
}